.title{
    font-weight: 500;
    font-size: 150%;
}
.description{
    font-weight: 500;
}
.date{
    margin-top: 12px;
    font-weight: 500;
}
.blog{
    font-size: large;
}
.Empty{
  margin-top: 100px;
    text-align: center;

}
.contain{

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 5px;
    
    }